*{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Roboto Condensed";
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
input{
	user-select: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
}
::selection {
    color: none;
    background: none;
}
::-moz-selection {
    color: none;
    background: none;
}
body{
	background: black;
	position: relative;
}
html, body {
	touch-action: none;
}
#c{
	position: fixed;
/* 	width: 100vw;
	height: 100vh; */
	bottom: 0;
	left: 0;
	background: black;
	cursor: none;
}
#c.side{
	transform-origin: 50vmin 50vmin;
	transform: rotate(-90deg);
}
.menu{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #111;
	color: white;
	text-align: center;
	transition: top .3s;
}
.accent{
	color: #67b9f0;
}
.header{
	font-size: 3vmin;
	margin: 2vmin;
}
.mheader{
	font-size: 7vmin;
	margin: 4vmin;
}
#code{
	font-size: 20vmin;
/* 	background: #080808; */
/* 	color: #111; */
/* 	background: white; */
/* 	display: inline-block; */
/* 	padding: 2vmin 8vmin 2vmin 8vmin; */
/* 	border-radius: 3vmin; */
	margin: 2vmin;
}
#codeinp{
	display: inline-block;
	background: #080808;
	font-size: 30vmin;
	color: white;
	width: 80vmin;
	outline: none;
	border: none;
	border-bottom: 2vmin solid white;
	margin: 6vmin;
	text-transform: uppercase;
	transition: border-color .5s;
	text-align: center;
/* 	box-sizing: border-box; */
}
#players{
	display: inline-block;
	flex-wrap: wrap;
	background: #080808;
	height: 58vmin;
	width: 58vmin;
	border-radius: 3vmin;
	text-align: left;
	box-sizing: border-box;
	padding: 2vmin;
	line-height: 0;
}
.player{
	margin: 2vmin;
	display: inline-block;
	height: 9.5vmin;
	width: 9.5vmin;
	box-sizing: border-box;
	border: 1vmin solid white;
	border-radius: 2vmin;
	font-family: DotGothic16;
	text-align: center;
	font-size: 4vmin;
	padding-top: 3.75vmin;
}
.player.ready{
	box-shadow: 0 0 0 1vmin white;
}
#nameinp{
	font-family: DotGothic16;
	font-size: 40vmin;
	color: white;
	background: #080808;
	outline: none;
	border: none;
	width: 80vmin;
	box-sizing: border-box;
	padding-left: 10vmin;
}
.page{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: top .4s;
}
.page._2{
	top: 100vh;
}
.page._3{
	top: 200vh;
}
.page._4{
	top: 300vh;
}
.gbutton{
	display: inline-block;
	text-align: center;
	background: #080808;
	border: 2vmin solid #4ffc3f;
	color: #4ffc3f;
	font-size: 12vmin;
	width: 76vmin;
	margin: 4vmin;
	cursor: pointer;
}
.gbutton:hover{
	background: #4ffc3f;
	color: #080808;
}
#colorwheel{
	position: absolute;
	height: 200vmin;
	width: 200vmin;
	border-radius: 100%;
	left: calc(50vw - 100vmin);
	bottom: -100vmin;
}
#colorwheel:after{
	content: "";
	background: #111;
	display: block;
	height: 180vmin;
	width: 180vmin;
	top: 10vmin;
	left: 10vmin;
	position: absolute;
	border-radius: 100%;
}
#colPreview{
	position: absolute;
	height: 20vmin;
	width: 20vmin;
	bottom: 100vmin;
	left: calc(50vw - 10vmin);
	transform: rotate(45deg);
}
#colSub{
	position: absolute;
	left: calc(50vw - 44vmin);
	bottom: 35vmin;
}
.status{
	position: absolute;
	top: 40vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	color: #888;
	font-size: 7vmin;
}
#bhelp{
	overflow: visible;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 3vmin;
	line-height: 75%;
	width: 41.5vmin;
	position: fixed;
	bottom: 8.75vmin;
	right: 8vmin;
}
#start{
	display: inline-block;
	text-align: center;
	background: #080808;
	border: 0.75vmin solid #4ffc3f;
	color: #4ffc3f;
	font-size: 5vmin;
	width: 40vmin;
	cursor: pointer;
	position: fixed;
/* 	bottom: 8vmin; */
	bottom: -30vmin;
	right: 8vmin;
	transition: bottom .3s;
}
#start:hover{
	background: #4ffc3f;
	color: #080808;
}
#start.ready{
	bottom: 8vmin;
}
#wname{
	--outline: white;
	font-family: DotGothic16;
	color: black;
	font-weight: normal;
	text-shadow:
		.5vmin .5vmin var(--outline),
		.5vmin -.5vmin var(--outline),
		-.5vmin .5vmin var(--outline),
		-.5vmin -.5vmin var(--outline),
		0vmin .5vmin var(--outline),
		0vmin -.5vmin var(--outline),
		.5vmin 0vmin var(--outline),
		-.5vmin 0vmin var(--outline);
}
#winner{
	color: white;
	font-size: 10vmin;
	position: fixed;
	bottom: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	line-height: 100vh;
	vertical-align: middle;
	background: linear-gradient(5deg, black 30%, #111 30%, #111 35%, black 35%, black 40%, #111 40%, #111 60%, black 60%, black 65%, #111 65%, #111 70%, black 70%);
	transition: bottom .3s;
	font-weight: bold;
}
#scores{
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #111;
	transition: top .3s;
}
@keyframes slide{
	from{ width: 0; }
	to{ width: 100%; }
}
#bar{
	animation: slide 3s linear .3s forwards;
	position: absolute;
	bottom: 0;
	height: 5vmin;
	background: white;
}
#loader{
	position: absolute;
	bottom: 0;
	height: 5vmin;
	width: 100%;
	background: black;
}
#sccont{
	position: absolute;
	top: 50vh;
	left: 50vw;
	width: 80vw;
	transform: translate(-50%, -50%);
	text-align: center;
}
.scorecard{
	display: inline-block;
	width: 20vmin;
	height: 20vmin;
	color: white;
	font-size: 8vmin;
	margin: 3vmin;
/* 	line-height: 50%; */
}
.scorename{
	font-family: DotGothic16;
	font-size: 8vmin;
}
@keyframes count{
	0%{transform: scale(2); opacity: 0;}
	50%{opacity: 1}
	75%{transform: scale(1);}
	100%{transform: scale(1); opacity: 0;}
}
.countdown{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 20vmin;
	line-height: 100vh;
	animation: count 1s forwards;
	color: white;
}
#settings{
	position: absolute;
	bottom: 3vmin;
	left: 3vmin;
	font-size: 3vmin;
}
.smallinp{
	font-size: 3vmin;
	width: 5vmin;
	outline: none;
	border: none;
	background: #111;
	text-align: center;
	color: white;
	border-radius: .3vmin;
	transition: color .3s;
}

.smallinp:disabled{
	color: #444;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.srow{
	background: #080808;
	padding: .6vmin;
	padding-left: 7vmin;
	text-align: left;
	height: 4.8vmin;
	box-sizing: border-box;
	padding-right: 2.5vmin;
}

#dropdown.open > * > .srow ~ .srow{
	border-top: 1px solid #111;
}

#dropdown.open > * > .srow:hover{
	background: #040404;
}

#dropdown.open > * > .srow > .smallinp{
	cursor: pointer;
}

#dropdown{
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	bottom: 3vmin;
	left: 3vmin;
	background: black;
	height: 4.8vmin;
	font-size: 3vmin;
	transition: height .3s;
	border-radius: .6vmin;
/* 	border: 1px solid #222; */
}

#dropdown.open{
	height: calc(4.8vmin * 3);
}

#dropdown::before{
	content: "\02C4";
	border-right: 1px solid #111;
	background: #080808;
	padding: .6vmin;
	text-align: center;
	width: 3.5vmin;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
}

#dropdown.open::before{
	content: "\02C5";
}

#doffset{
	transition: margin .3s;
}

#dlabel{
	font-size: 3vmin;
	position: absolute;
	left: 3.6vmin;
	bottom: 9vmin;
}

.darker{
	color: #444;
}
#winscreen{
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
/* 	background: hsl(140, 100%, 50%); */
	color: black;
	font-size: 10vmin;
	text-align: center;
	line-height: 100vh;
	font-weight: bold;
	transition: top .3s;
}

#wwname{
	--outline: black;
	font-family: DotGothic16;
	font-weight: normal;
/* 	color: hsl(140, 100%, 50%); */
	text-shadow:
		.5vmin .5vmin var(--outline),
		.5vmin -.5vmin var(--outline),
		-.5vmin .5vmin var(--outline),
		-.5vmin -.5vmin var(--outline),
		0vmin .5vmin var(--outline),
		0vmin -.5vmin var(--outline),
		.5vmin 0vmin var(--outline),
		-.5vmin 0vmin var(--outline);
}

#newgame{
	display: inline-block;
	text-align: center;
	background: white;
	border: 0.75vmin solid black;
	color: black;
	font-size: 5vmin;
	width: 40vmin;
	cursor: pointer;
	position: absolute;
	bottom: 8vmin;
	right: 8vmin;
/* 	transition: transform .3s; */
	line-height: 100%;
	mix-blend-mode: multiply;
}
#newgame:hover{
	background: black;
	color: white;
/* 	transform: scale(1.2); */
}
.label{
	color: white;
	font-family: DotGothic16;
	font-size: 2.5vmin;
	text-shadow: 0 0 .5vmin black;
	display: inline-block;
	transform: translate(-50%, -150%);
	border-bottom: .2vmin solid white;
	line-height: 100%;
	position: fixed;
	overflow: visible;
}
#overlay{
	position: fixed;
	top: -100vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) 3vmin, rgba(10, 10, 10, 0.9) 3vmin, rgba(10, 10, 10, 0.9) 6vmin);
	z-index: 1;
	transition: top .3s;
}
#overlay.active{
	top: 0;
}
#create{
	display: inline-block;
	text-align: center;
	background: #080808;
	border: 0.75vmin solid #fc3f3f;
	color: #fc3f3f;
	font-size: 10vmin;
	width: 80vmin;
	cursor: pointer;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}
#create:hover{
	background: #fc3f3f;
	color: #080808;
}
#qrcode{
	position: absolute;
	top: 0;
	right: 0;
	height: 12vmax;
	width: 12vmax;
}
#autojoin-warn{
	position: fixed;
	/* bottom: 3vmin; */
	bottom: -50vh;
	left: 3vmin;
	right: 3vmin;
	border: 1vmin solid #fc3f3f;
	font-size: 6vmin;
	color: #fce03f;
	padding: 2vmin;
	box-sizing: border-box;
	transition: bottom .5s;
	background: black;
}
#swap{
	position: fixed;
	width: 20vmin;
	top: 5vmin;
	left: 50vw;
	transform: translateX(-50%);
}
@media (orientation: portrait) {
	#swap {
		left: 5vmin;
		top: 50vh;
		transform: translateY(-50%) rotate(90deg);
	}
}
